h1 {
    font-weight: bold;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration-line: underline;
    margin-bottom: 20px;
}

#psychic-game {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}

p {
    margin-bottom: 20px;
}

